* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

header,
h1,
h6 {
  font-family: "Merriweather Sans", sans-serif;
}
p {
  font-size: 18px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 8%;
  background-color: #0d3b66;
}
h6 {
  font-size: 25px;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  letter-spacing: 2px;
  color: #ff7b00;
}

h6::first-letter {
  font-size: 3rem;
  color: #dc2f02;
}
.navLinks li {
  list-style: none;
  display: inline-block;
  margin: 10px 40px;
  font-size: 20px;
  font-weight: 600;
}
.navLinks li a {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  font-weight: 100;
}
.navLinks li a:hover {
  color: #dc2f02;
  font-size: 25px;
  transition: 0.5s;
}
.bg-img {
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  margin-bottom: 50px;
}
#pricing{
  background-color: black;
  color: white;
}
@media only screen and (max-width: 1000px) {
  h6 {
    top: 4%;
    left: 3%;
  }
  .navLinks li {
    font-size: 20px;
    display: block;
    text-align: center;
    margin-left: 10rem;
    text-decoration: none;
  }
  .navLinks li a:hover {
    padding: 10px 15px;
    font-size: 25px;
    transition: .5s;
  }
 
}
